.wrapper {
  position: relative;
  .id {
    position: absolute;
    left: 10px;
    top: 10px;
  }
  .remove {
    background-color: #fff;
    border: 1px solid blue;
    padding: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-weight: 700;
  }
  img {
    cursor: pointer;
    width: 150px;
    height: 150px;
  }
}
